# declaring a list

In [2]:
numbers = [34,12,45,56,12,34,76,100,-1]

In [28]:
names=["lamela","son","dier","kane","harry","victor","tripier","rose"]

In [3]:
names

['lamela', 'son', 'dier', 'kane', 'harry', 'victor']

In [4]:
empty_lists_1=[]

In [5]:
empty_lists_1

[]

In [6]:
string_numbers=["eric",1,1.5,"jackie","pius",1234]

In [ ]:
list_list=[[1,2,3,3,4,5,6,7,8],"name1","name2",3["happ","me"]]

In [8]:
for na in names:
    print("happy birthday",na)

happy birthday lamela
happy birthday son
happy birthday dier
happy birthday kane
happy birthday harry
happy birthday victor

In [10]:
names[4]

'harry'

In [24]:
names[4]="kenn"

In [25]:
names

['lamela', 'son', 'dier', 'kane', 'kenn', 'victor']

In [12]:
len(numbers)

9

In [22]:
length=len(names)
for names1 in range(0,length):
    print(names[names1])

lamela
son
dier
kane
harry
victor

In [26]:
combined=names+numbers

In [27]:
combined

['lamela',
 'son',
 'dier',
 'kane',
 'kenn',
 'victor',
 34,
 12,
 45,
 56,
 12,
 34,
 76,
 100,
 -1]

In [29]:
print(names[2:7])

['dier', 'kane', 'harry', 'victor', 'tripier']

In [34]:
print(names[2::2])

['dier', 'harry', 'tripier']

list operstions

In [35]:
new_list=list()
new_list2=[]

In [36]:
new_list.append(10)
new_list.append(12)
new_list.append(15)
new_list.append(21)
new_list.append(51)

In [37]:
new_list

[10, 12, 15, 21, 51]

In [38]:
new_list2.append("a")
new_list2.append("b")
new_list2.append("e")

In [40]:
new_list2.count("b")

1

In [41]:
new_list2.extend(["a","b","x"])

In [42]:
new_list2

['a', 'b', 'e', 'a', 'b', 'x']

In [43]:
new_list2.index("a")

0

In [44]:
new_list2.insert(0,"q")

In [45]:
new_list2

['q', 'a', 'b', 'e', 'a', 'b', 'x']

In [46]:
new_list2.sort()

In [47]:
new_list2

['a', 'a', 'b', 'b', 'e', 'q', 'x']

In [48]:
new_list2.reverse()

In [49]:
new_list2

['x', 'q', 'e', 'b', 'b', 'a', 'a']

In [50]:
new_list2.pop()

'a'

In [51]:
new_list2.remove("b")

In [52]:
new_list2

['x', 'q', 'e', 'b', 'a']

In [53]:
dir(new_list2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [54]:
min(new_list)

10

In [55]:
max(new_list)

51

In [56]:
sum(new_list)

109

In [57]:
type(new_list)

list

In [58]:
11 in new_list

False

In [59]:
12 in new_list

True

In [60]:
sentence= "i have no sentence to use as an example"

In [61]:
sentence_list=sentence.split(" ")

In [62]:
sentence_list

['i', 'have', 'no', 'sentence', 'to', 'use', 'as', 'an', 'example']