# question 1

In [2]:
for num in range(0,11):
    sq=num*num
    print("the square of ",num,"is",sq)

the square of  0 is 0
the square of  1 is 1
the square of  2 is 4
the square of  3 is 9
the square of  4 is 16
the square of  5 is 25
the square of  6 is 36
the square of  7 is 49
the square of  8 is 64
the square of  9 is 81
the square of  10 is 100

# question 2

In [3]:
for num in range(0,101):
    if num%2:
        print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# qstn3

In [10]:
sum=0
for num in range(0,11):
    if num%2==0:
       sum=sum+num 
print(sum)

30

# qstn 4

In [20]:
number=int(input("enter number"))
factorial=1
for num in range(1,number+1):
    factorial=factorial*num
    print(factorial)

enter number5
1
2
6
24
120

# qst5

In [4]:
number=int(input('enter number:'))
count=0
for num in range(0,number):
    count=count+1
    print("*"*count)

enter number:5
*
**
***
****
*****

# qst6

In [45]:
number=6
count=0
for num in range(0,number):
        print(str(num)*num)

1
22
333
4444
55555

# qst7

In [6]:
count=0
number=int(input("number"))
for num in range(2,number):
    if number%num==0 and number!=num:
        print("not prime")
        break
    else:
        print("prime")
        break

number14
not prime

# qst 8

In [144]:
count=0
number=100
for num in range(0,number):
    if num%2 and num%3 or num/2==1 or num/3==1:
        print(num)

1
2
3
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49
53
55
59
61
65
67
71
73
77
79
83
85
89
91
95
97

# qst 9

In [199]:
first=0
second=1
for num in range(0,10):
    next=first+second
    first=second
    second=next
    print(next)

1
2
3
5
8
13
21
34
55
89
89

# qst10