# qst 1

In [6]:
def total(a,b):
    return(a + b)
total(12,10)

22

# qstn2

In [38]:
def num(a):
    a=str(a) 
    return(a)
print(num(7))

7

# qstn 3

In [27]:
def integral(a,b):
    a=int(a)
    b=int(b)
    return(a+b)
integral("12","10")

22

 # qstn 4

In [36]:
def strings(c,d):
    c=str(c)
    d=str(d)
    return (c+d)
strings(12,10)

'1210'

# qstn 5

In [51]:
def number(a):
    a=int(a)
    if a%2 == 0:
        print("even")
    else:
        print("odd")
number(17)

odd

# question 6

In [6]:
def largest(x,y):
    x=int(x)
    y=int(y)
    maximum = max(x,y)
    return(maximum)
print(largest(4,5))

5

# question 7

In [7]:
def smallest(m,n,o):
    m=int(m)
    n=int(n)
    o=int(o)
    minimum=min(m,n,o)
    return(minimum)
print(smallest(10,7,4))

4

# question 8

In [8]:
def ranking(grade):
    grade=int(grade)
    if grade<40:
        print("F")
    elif grade<50:
        print("D")
    elif grade<60:
        print("C")
    elif grade<70:
        print("B")
    else:
        print("A")
    return(grade)
ranking(80)

A

80

In [9]:
def area_of_a_triangle(h,d):
    d=int(d)
    h=int(h)
    area=1/2*d*h
    return(area)
area_of_a_triangle(12,4)

24.0